* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #dedede;
}

h1 {
  color: #303030;
}

pre {
  white-space: pre-wrap;
}

ul {
  list-style: none;
}

#under_app {
  position: relative;
  padding: 10px;
}

/*header*/

#bar_container {
  position: relative;
  width: 35px;
}

#bar_container .bar_ {
  background: linear-gradient(to right, #2960f9, #303030);
  padding: 2px 0;
  margin: 5px;
  width: 100%;
}

#header {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background: #dedede;
}

#bar_container {
  margin: 0 10px 0 0;
  cursor: pointer;
  display: none;
}

#header h1 {
  margin: 0 0 10px 0;
}

#headerButton1,
#header1 button {
  padding: 10px 20px;
  margin: 0 0 0 10px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background: rgb(190, 14, 73);
  color: #fff;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

#headerButton1:hover,
#header1 button:hover {
  background: rgb(255, 0, 85);
  color: rgb(223, 223, 223);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

/*under_header*/

#under_header {
  position: relative;
  padding: 5px;
  background: rgba(117, 0, 255, 0.15);
  border-radius: 5px;
  display: flex;
  flex-direction: row-reverse;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

#chatContainer {
  position: relative;
  width: 75%;
}

#msg_Div {
  position: relative;
  padding: 5px;
  height: 74vh;
  overflow-x: hidden;
  background: #a4a6e8; /* #2960f940;  rgba(41, 96, 249, 0.25);*/
  display: flex;
  flex-direction: column;
}

/*current_users*/

#total_active {
  font-size: 16px;
  color: #ffffff;
  background: #ff00d7;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  padding: 5px;
  border-radius: 10px;
}

#inputDiv {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  z-index: 2;
}

#inputDiv div {
  display: flex;
  width: 100%;
}

#inputDiv input,
#inputDiv button {
  padding: 5px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  margin: 2px;
}

#inputDiv #message {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  margin: 2px;
  resize: none;
  max-height: 20vh;
  min-height: 7vh;
  border-radius: 5px;
  transition: all 150ms ease-in-out;
}

#inputDiv button {
  width: 20%;
  background: rgba(41, 96, 249);
  color: #fff;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  font-weight: 400;
  border-radius: 5px;
}

#inputDiv button:hover {
  background: rgba(0, 44, 167, 0.815);
}

#messages {
  position: relative;
  display: flex;
  flex-direction: column;
}

#me_Dv {
  align-self: flex-end;
  display: flex;
  flex-direction: row-reverse;
}

#me_Dv div {
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  margin: 10px;
  max-width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#notme_Dv {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#notme_Dv div {
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  margin: 5px 10px 10px 10px;
  align-self: flex-start;
  max-width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#notme_Dv span {
  font-weight: 500;
  align-self: flex-start;
}

/*side_bar*/

#side_bar {
  position: fixed;
  width: 80%;
  height: 100vh;
  top: 0;
  left: 0;
  background: #dedede;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.363);
  z-index: 3;
  padding: 15px 0;
  transition: all 150ms ease-in-out;
  transform: translate(-100%);
}

/*dyn_img*/

#dyn_img {
  display: none;
}

#extra_div_style_for_image {
  max-width: 50% !important;
  padding: 5px !important;
}

#extra_div_style_for_image1 {
  max-width: 80% !important;
  padding: 5px !important;
}

/*image_send_d1*/

.image_send_d1 {
  animation: sending_image 500ms forwards infinite;
}

/*record*/

#btnStartUp {
  position: relative;
}

#btnStartDiv {
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.363);
  height: 280px;
  width: 280px;
  display: none;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}

#btnStartDiv div {
  transition: all 150ms ease-in-out;
}

#btnStartDiv div #btnStart {
  border: none;
  height: 80px;
  width: 80px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 50%;
  background-color: rgb(228, 226, 226);
  transition: background-color 150ms ease-in-out;
  cursor: pointer;
  user-select: none;
}

#btnStartDiv div #btnStart:hover {
  background-color: #fff;
}

/*current_users*/
#current_users,
#current_users1 {
  position: relative;
  width: 25%;
  padding: 5px;
  overflow: hidden;
  background: #dedede;
}

#current_users1 {
  width: 95%;
  height: 95%;
}

#current_users_ul {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

#current_users_ul li {
  font-size: 18px;
  font-weight: 500;
  color: #747474;
  padding: 3px;
  margin: 3px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

#current_users_ul li {
  user-select: none;
  list-style: none;
  border-radius: 5px;
}

#tab_content_container {
  display: flex;
  flex-direction: row;
}

#tab_content_container > div {
  position: absolute;
  width: 94%;
  height: 85%;
  padding: 10px;
  overflow: hidden;
}

#tab_content_container div {
  transition: transform 150ms ease-in-out;
}

#tab_content_container > div:nth-child(1) {
  transform: translate(0%);
}
#tab_content_container > div:nth-child(2) {
  transform: translate(100%);
}
#tab_content_container > div:nth-child(3) {
  transform: translate(200%);
}

#tab_content_container div:nth-child(1) input {
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  margin-top: 2px;
  border-radius: 5px;
}

#tab_content_container div:nth-child(1) button {
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  margin: 4px;
  background: rgba(0, 68, 255, 0.815);
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  transition: background 150ms ease-in-out;
}

#tab_content_container div:nth-child(1) button:hover {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

#tab_content_container div:nth-child(1) button:hover {
  background: rgba(0, 44, 167, 0.815);
  color: #fff;
}

#tab_content_container div :is(h3) {
  color: #454545;
  margin: 10px 0px;
  font-weight: 500;
}

#activeulList {
  overflow-x: hidden;
  height: 53%;
  margin-top: 10px;
}

#activeulList li {
  background: rgb(143, 255, 196);
  color: #404040;
  font-weight: 500;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  margin: 10px 0;
  padding: 5px;
  width: 90%;
  border-radius: 5px;
  font-size: 14px;
}

/*name_and_more_sendings*/

#name_and_more_sendings {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

/*type="checkbox"*/

input.checkbox1 {
  position: relative;
  display: none;
}

.checkbox1Div {
  position: relative !important;
  height: 18px !important;
  width: 38px !important;
  margin-top: 10px;
  background: #fff;
  padding: unset !important;
  border-radius: 15px;
  box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.checkbox1Div div {
  padding: unset !important;
  position: relative !important;
  height: 18px !important;
  width: 18px !important;
  background: #666666;
  border-radius: 50% !important;
  transition: background 150ms ease-in-out;
}

.color_ul li {
  color: #444444;
  font-weight: 500;
  margin-left: 10px;
}

.resetColorBtn {
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  margin: 4px;
  background: rgba(0, 68, 255, 0.815);
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgb(0, 0, 0, 0.25);
  transition: background 150ms ease-in-out;
}

.resetColorBtn:hover {
  background: rgba(0, 44, 167, 0.815);
}

input[type="color"] {
  cursor: pointer;
}

.info_ul {
  list-style: none;
  height: 56vh;
  overflow-x: hidden;
}

.info_ul li {
  color: #505050;
  font-weight: 500;
  width: 95%;
  word-break: break-word;
}

/*preLoader1*/

#preLoader1 {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #dedede;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#preLoader1 > div {
  position: relative;
  height: 100px;
  width: 100px;
  background: #dedede;
  border: 5px solid #2960f9;
  border-radius: 50%;
  transition: transform 150ms ease-in-out;
  animation: sending_prev_data 800ms forwards infinite;
}

/*keyframes*/
@keyframes sending_image {
  0% {
    background: linear-gradient(to right, #00a2ff 0%, #303030 0%);
    transition: all 150ms ease-in-out;
  }
  10% {
    background: linear-gradient(to right, #00a2ff 10%, #303030 10%);
    transition: all 150ms ease-in-out;
  }
  20% {
    background: linear-gradient(to right, #00a2ff 20%, #303030 20%);
    transition: all 150ms ease-in-out;
  }
  30% {
    background: linear-gradient(to right, #00a2ff 30%, #303030 30%);
    transition: all 150ms ease-in-out;
  }
  40% {
    background: linear-gradient(to right, #00a2ff 40%, #303030 40%);
    transition: all 150ms ease-in-out;
  }
  50% {
    background: linear-gradient(to right, #00a2ff 50%, #303030 50%);
    transition: all 150ms ease-in-out;
  }
  60% {
    background: linear-gradient(to right, #00a2ff 60%, #303030 60%);
    transition: all 150ms ease-in-out;
  }
  70% {
    background: linear-gradient(to right, #00a2ff 70%, #303030 70%);
    transition: all 150ms ease-in-out;
  }
  80% {
    background: linear-gradient(to right, #00a2ff 80%, #303030 80%);
    transition: all 150ms ease-in-out;
  }
  90% {
    background: linear-gradient(to right, #00a2ff 90%, #303030 90%);
    transition: all 150ms ease-in-out;
  }
  100% {
    background: linear-gradient(to right, #00a2ff 100%, #303030 100%);
    transition: all 150ms ease-in-out;
  }
}

@keyframes sending_prev_data {
  0% {
    transform: scale(0);
    transition: transform 150ms ease-in-out;
  }
  10% {
    transform: scale(0.1);
    transition: transform 150ms ease-in-out;
  }
  20% {
    transform: scale(0.2);
    transition: transform 150ms ease-in-out;
  }
  30% {
    transform: scale(0.3);
    transition: transform 150ms ease-in-out;
  }
  40% {
    transform: scale(0.4);
    transition: transform 150ms ease-in-out;
  }
  50% {
    transform: scale(0.5);
    transition: transform 150ms ease-in-out;
  }
  60% {
    transform: scale(0.6);
    transition: transform 150ms ease-in-out;
  }
  70% {
    transform: scale(0.7);
    transition: transform 150ms ease-in-out;
  }
  80% {
    transform: scale(0.8);
    transition: transform 150ms ease-in-out;
  }
  90% {
    transform: scale(0.9);
    transition: transform 150ms ease-in-out;
  }
  100% {
    transform: scale(1);
    transition: transform 150ms ease-in-out;
  }
}

/*media*/

@media screen and (max-width: 901px) {
  #chatContainer {
    width: 70%;
  }
  #current_users {
    width: 30%;
  }
}

@media screen and (max-width: 801px) {
  #chatContainer {
    width: 65%;
  }
  #current_users {
    width: 35%;
  }
}

@media screen and (max-width: 691px) {
  #chatContainer {
    width: 60%;
  }
  #current_users {
    width: 40%;
  }
}

@media screen and (max-width: 591px) {
  #chatContainer {
    width: 55%;
  }
  #current_users {
    width: 45%;
  }
}

@media screen and (max-width: 512px) {
  #bar_container {
    display: block;
  }

  #current_users {
    display: none;
  }

  #chatContainer {
    width: 100%;
  }

  #extra_div_style_for_image {
    max-width: 70% !important;
    padding: 5px !important;
  }

  .info_ul {
    height: 75vh;
  }
}

@media screen and (max-width: 323px) {
  #header h1 {
    font-size: 23px;
  }
}
