<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>messagemenow1</title>
  <link rel="icon" type="image/png" href="png/title.png" />

  <link rel="stylesheet" href="css/style.css" />

  <script>
    var ROOM_ID = "<%= roomId %>";
  </script>

  <script src="/socket.io/socket.io.js"></script>
  <script src="js/vueO.js"></script>

  <script defer src="js/script.js"></script>
</head>
